h1{
    font-size: 3em;
    text-align: center;
}

h3{
    font-size: 2em;
    text-align: center;
}

.section{
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.container{
    top: 30%;
    left: 50%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
}

.head{
    height: 100px;
}

.login{
    width: 100%;
}

.title{
    margin: 0.67em 0.8em;
    /*left: 50%;*/
    /*position: fixed;*/
    /*-webkit-transform: translate(-50%, -50%);*/
}